.page {
  width: 100%;
  padding: 0 1rem;
}

.pageTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.titleInfo {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.message {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
}

.backContainer {
  display: flex;
  flex-direction: row;
  align-items: start;
  width: 100%;
}

.filtersWrapper {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;

  @media (width <= 1024px) {
    flex-wrap: wrap;
    justify-content: center;
  }
  @media (width <= 768px) {
    flex-wrap: wrap-reverse;
    justify-content: space-between;
  }
}

.inputWrapper,
.sliderWrapper {
  flex: 1 1 auto;
  max-width: 400px;
}

.inputWrapper {
  min-width: 200px;
}

.sliderWrapper {
  @media (width <= 1024px) {
    flex: 0 1 100%;
  }
}

.inputWrapper > *,
.tabsWrapper > *,
.sliderWrapper > * {
  width: 100%;
}

.tabsWrapper {
  flex-grow: 1;
}

.buttonWrapper {
  display: flex;
  justify-content: end;

  button {
    white-space: nowrap;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;

  @media (width <= 768px) {
    flex-direction: column;
    align-items: center;
  }
}
