.pageTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.titleInfo {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.message {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
}

.backContainer {
  display: flex;
  flex-direction: row;
  align-items: start;
  width: 100%;
}
