.pageTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.titleInfo {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.cover {
  width: 300px;
  height: 200px;
  margin-bottom: 24px;
}
