.card {
  width: 100%;
  padding: 32px 36px 30px;
}
.inputWrapper {
  width: 100%;
  margin-bottom: 1rem;
}
.checkbox {
  margin-bottom: 6px;
}
.buttonWrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
