.card {
  width: 100%;
  padding: 32px 36px 30px;
}

.buttonWrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.inputWrapper {
  width: 100%;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
