.page {
  width: 100%;
  padding: 0 1rem;
}

.pageTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  margin-bottom: 1.5rem;
}

.filtersWrapper {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;

  @media (width <= 1024px) {
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
  }
}

.inputWrapper,
.sliderWrapper {
  flex: 1 1 40%;
  min-width: 200px;
  max-width: 400px;

  @media (width <= 1024px) {
    flex: 1 1 100%;
    width: 100%;
  }

  @media (width <= 768px) {
    flex: 1 1 100%;
  }
}

.buttonWrapper {
  display: flex;
  flex: 0 0 auto;
  gap: 1rem;
  align-items: center;
  justify-content: flex-end;

  button {
    white-space: nowrap;
  }

  @media (width <= 768px) {
    flex: 1 1 100%;
    justify-content: flex-start;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;

  @media (width <= 768px) {
    flex-direction: column;
    align-items: center;
  }
}
